<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta name="theme-color" content="#4D698E">

    <link rel="stylesheet" href="http://forum.django.local/assets/forum-ed9c5bac.css">
</head>
<body>
    <div id="app" class="App">

      <div id="app-navigation" class="App-navigation"></div>

      <div id="drawer" class="App-drawer">

        <header id="header" class="App-header">
          <div id="header-navigation" class="Header-navigation"></div>
          <div class="container">
            <h1 class="Header-title">
              <a href="http://forum.django.local/" id="home-link">
                Testforum
              </a>
            </h1>
            <div id="header-primary" class="Header-primary"></div>
            <div id="header-secondary" class="Header-secondary"></div>
          </div>
        </header>

      </div>

      <main class="App-content">
        <div id="content"></div>

        <div id="flarum-loading" style="display: none">
          Loading...
        </div>

        <noscript>

        <div class="Alert">
            <div class="container">
                 This site is best viewed in a modern browser with JavaScript enabled.
            </div>
        </div>

        <div class="container">
        </div>

         </noscript>




        <div class="App-composer">
          <div class="container">
            <div id="composer"></div>
          </div>
        </div>
      </main>
    </div>

    <div id="modal"></div>
    <div id="alerts"></div>

      <script>
        document.getElementById('flarum-loading').style.display = 'block';
      </script>

              <script src="http://forum.django.local/assets/forum-acaa4b60.js"></script>
              <script src="http://forum.django.local/assets/forum-en-df77f08d.js"></script>

      <script>
        document.getElementById('flarum-loading').style.display = 'none';
                  var app = System.get('flarum/app').default;


                babelHelpers._extends(app, {{ api_result }});




                      System.get('locale');
                      System.get('flarum/approval/main');
                      System.get('flarum/emoji/main');
                      System.get('flarum/flags/main');
                      System.get('flarum/likes/main');
                      System.get('flarum/lock/main');
                      System.get('flarum/mentions/main');
                      System.get('flarum/sticky/main');
                      System.get('flarum/subscriptions/main');
                      System.get('flarum/suspend/main');
                      System.get('flarum/tags/main');

          app.boot();
      </script>

    <div>{{ api_result }}</div>

</body>
</html>

